* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
.node-version text eol=lf
.npmrc text eol=lf
.nvmrc text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.ps1 text eol=lf
*.ts text eol=lf
*.vue text eol=lf
*.css text eol=lf
*.html text eol=lf
*.txt text eol=lf
*.log text eol=lf
*.wasm -text
*.json text eol=lf
*.patch text eol=lf whitespace=-blank-at-eol
